* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    list-style-type: none;
    color: var(--fifth-color);
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #173F42;
    --second-color: #246369;
    --third-color: #1F575C;
    --fourth-color: #39A0A9;
    --fifth-color: #4FDDE9;
    --danger-color: #b66677;
  }

  body {
    background-color: var(--primary-color);

  }

.title-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    background-color: var(--third-color);
}

.title-page {
    font-size: 1.5rem;
    color: var(--fifth-color);
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    position: fixed;
    background-color: var(--second-color);
    width: 100vw;
    height: 50px;

}

.nav-bar ul {
    display: flex;    
    justify-content: space-around;
}

.task-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}

#myList {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.taskSection {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.taskItem {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.cardTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--second-color);
    height: 80px;
    border-bottom: 1px solid black;
    text-align: left;
    padding: 20px 20px;
    margin: 20px 10px;
    border-radius: 5px;
    width: 80%;
}

.btnSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 80px;
    font-size: 10px;
    text-align: center;
    margin: auto;
}

.btnTask {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--fourth-color);
    height: 35px;
    width: 35px;
    color: var(--primary-color);
    border-radius: 50%;
}

#edit {
    background-color: var(--fifth-color);
}

#remove {
    background-color: var(--danger-color);
    color: white;
}



.taskHeader {
    display: flex;
    justify-content: space-between;
}

.taskInfo {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: .8rem;      
}



#creation {
    color: var(--fourth-color);
}

#status {
    color: var(--fourth-color); 
}

.add-task {
    width: 80%;
    margin: auto;
}

.newTaskForm {
    display: flex;
    flex-direction: column;
    margin: 50px 10px;
}

.newTaskForm input {
    height: 40px;
    margin: 10px 0 5px 0;
    padding: 10px;
    background-color: var(--primary-color);
    border: 0;
    border-bottom: 1px solid var(--fourth-color);
}

.labelInput {
    font-size: .8rem;
    margin: 20px 5px 0 10px;
    color: var(--fourth-color);
}



.btnAddTask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: var(--fourth-color);
    border-radius: 50%;
    color: var(--primary-color);
    font-weight: bold;
}




/* LIST PAGE */

.list-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

@media screen and (min-width: 790px) {
    main {
        width: 600px;
        margin: auto;
    }
}